<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card text-center>
    <ion-card-header>
      <ion-card-title>Sobre nosotros</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        Nuestra aplicación esta diseñada para orientar a las mujeres que han sido victimas de violencia. Aqui
        encontrarán
        la información necesaria y el acompañamiento en todo el proceso.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>